%ul.groups-list
  %li.group
    = link_to root_path do
      .group-name
        sampleグループ
      .group-message
        まだメッセージはありません。
  %li.group-content
    = link_to root_path do
      .group-name
        sampleグループ
      .group-message
        まだメッセージはありません。
  %li.group-content
    = link_to root_path do
      .group-name
        sampleグループ
      .group-message
        まだメッセージはありません。
