%ul.messages-list
  %li.message
    .message-name
      = message.user.name
    .message-time
      = message.created_at.in_time_zone('Tokyo').strftime("%Y年%m月%d日 %H時%M分")
    .message-body
      - if message.content.present?
        %p.lower-message__content
          = message.content
        = image_tag message.image.url, class: 'image' if message.image.present?
