.body
  .chat-side
    .chat-side__user
      .chat-side__user-content
        .chat-side__user-name
          ryousukemaehira
        %a.chat-side__user--new-group{:href => "/groups/new"}
          %i.fa.fa-pencil-square-o
        %a.chat-side__user--edit-user{:href => "/users/edit"}
          %i.fa.fa-cog
    .chat-side__groups
      .chat-side__groups-list
        %a{:href => "/groups/812/messages"}
          .chat-side__group
            .chat-side__group-name
              神
            .chat-side__group-message
              sdlkfisdlf
        %a{:href => "/groups/811/messages"}
          .chat-side__group
            .chat-side__group-name
              aeaaaaaaa
            .chat-side__group-message
              まだメッセージはありません。
        %a{:href => "/groups/810/messages"}
          .chat-side__group
            .chat-side__group-name
              sampleグループ
            .chat-side__group-message
              まだメッセージはありません。
  .chat-main
    .chat-main__header
      .chat-main__header--group.clearfix
        .chat-main__header--group-name
          sampleグループ
        %a.chat-main__header--group-edit-btn{:href => "/groups/811/edit"}
          edit
      .chat-main__header-members
        MEMBER:
        %i
          ryouskemaehira
    .chat-main__body
      .chat-main__body--messages-list
        .chat-main__message.clearfix{"data-id" => "1281"}
          .chat-main__message-name
            ryousukemaehira
          .chat-main__message-time
            2016/10/02 06:27:07
          .chat-main__message-body
            なるほど
            %img.chat-main__message-body-image{:src => ""}/
        .chat-main__message.clearfix{"data-id" => "1271"}
          .chat-main__message-name
            ryousukemaehira
          .chat-main__message-time
            2016/10/02 06:27:14
          .chat-main__message-body
            水色きれい
            %img.chat-main__message-body-image{:src => ""}/
            .chat-main__message.clearfix{"data-id" => "1281"}
          .chat-main__message-name
            ryousukemaehira
          .chat-main__message-time
            2016/10/02 06:27:25
          .chat-main__message-body
            command Enterで送信したい感ある
            %img.chat-main__message-body-image{:src => ""}/
            .chat-main__message.clearfix{"data-id" => "1291"}
          .chat-main__message-name
            ryousukemaehira
          .chat-main__message-time
            2016/10/02 06:27:30
          .chat-main__message-body
            お腹すいた
            %img.chat-main__message-body-image{:src => ""}/
    .chat-main__footer
      %form#new_message.chat-main__footer-form{"accept-charset" => "UTF-8", :action => "/groups/811/messages", :enctype => "multipart/form-data", :method => "post"}
        %input{:name => "utf8", :type => "hidden", :value => "✓"}/
        %input{:name => "authenticity_token", :type => "hidden", :value => "BG2YsNh7H9/DqIpK+Jzs3rC+8I0DCZQSKLBZG11MnEwOJy+z+gNQdaQfiswanGndK+2fhZ3ThOJalAVXKrzQsw=="}/
        .chat-main__footer-body
          %input#message_body.message{:name => "message[body]", :placeholder => "type a message", :type => "text"}/
          %label.chat-file{:for => "message_image"}
            %input#message_image.image{:name => "message[image]", :type => "file"}/
            %i.fa.fa-image
        %input.submit{"data-disable-with" => "Send", :name => "commit", :type => "submit", :value => "Send"}/
