.contents
  .contents_side
    = render partial: "messages/side_bar"
  .contents_main
    .contents_main--header
      = render partial: "messages/header"
    .contents_main--body
      = render @messages
    .contents_main--footer
      = render partial: "messages/form"
