//background-color
$light_blue: #38AEF0;
$side_blue_dark:  #253141;
$side_blue_light:  #2f3e51;
$footer-color:  #DDDDDD;
//font-color
$white:  #FFFFFF;
$light_gray: #999999;
$black: #434a54;

$border-color: #eeeeee;

$alert_orange: #F35500;
