//background-color
$header-color: #38AEF0;
$user-color:  #253141;
$list-color:  #2f3e51;
$footer-color:  #AAAAAA;
//font-color
$white:  #FFFFFF;
$members-color: #999999;
$message-color: #434a54;

$border-color: #eeeeee;
